

/* navbar */
nav{
    color: black;
    top: 0;
    font-family: 'Poppins', sans-serif;
    height: 70px;
    
}

.navbar-brand{
    color: black;
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-buttons{
    
    display: flex;
    gap: 30px; 
    margin-right: 100px; 
}
.navbar-more{

    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 

}

.navbar-contact{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 

}


.nav-edit {
    background-color: #ECECEC;
    color: black;
    padding: 5px 25px;
}


/* footer */
.footer {
    background-color: #ECECEC;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px 0;
    bottom: 0;
    width: 100%;
    
}

/* body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #E4DFDA;
}

.container {
    margin-top: 10px;
    padding: 20px;
    min-height: 100vh;
    padding-bottom: 10px; 
    
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.content {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ECECEC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 

    /* animation */
    overflow: hidden; 
    transform: translateX(-100%); 
    opacity: 0; 
    animation: slideIn 1s ease-in-out forwards;
}

.content h1 {
    color: #333;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold
}
.content p {
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}



.nav-link {
    margin-left: 10px;
    color: #000000; 
    border: 1px solid #000000; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

/* Mengatur hover state (opsional) */
.nav-link:hover {
    background-color: #77625C; 
    color: #FFFFFF; 
    border: 1px solid #77625C; /
}


.more-content{
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden; 
    transform: translateX(-100%); 
    opacity: 0; 
    animation: slideIn 2s ease-in-out forwards;
}

/* --------------------------CSS Box Global Hunger page--------------------------------------- */

/* box 1-6 */
.box {
    /* border: solid 1px green; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    overflow: hidden; 
    transform: translateX(-100%); 
    opacity: 0; 
    animation: slideIn 1.5s ease-in-out forwards;
  }


  
  
/* box1 */
.box1 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 327px; 
    height: 79px; 
    
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #508958; 
    border-radius: 10px;
  }

.box1 p {
   
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    
}

/* box2 */
.box2 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 327px; 
    height: 79px; 
    
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #63A46C; 
    border-radius: 10px;
  }

.box2 p {
   
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    
}

/* box3 */
.box3 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 327px; 
    height: 79px; 
    
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #78C382; 
    border-radius: 10px;
  }

.box3 p {
   
    color: #ffffff;
    font-size: 12px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    
}

.box4 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-grow: 1; 
    display: flex; 
    width: 327px; 
    height: 300px; /*atur buat panjang kebawah*/
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center; 
  }

.box4 p {
   
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    
}

.kue-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-top: 10px; 
}


.box5 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    display: flex; 
    width: 394px; 
    height: 596px; /*atur buat panjang kebawah*/
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 
  }

.box5 p {
   
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 40px;
}


.box6 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    display: flex; 
    width: 536px; 
    height: 596px; /*atur buat panjang kebawah*/
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 
  }

.box6 p {
   
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 40px;
}
/* --------------------------End CSS Box Global Hunger page--------------------------------------- */





/* --------------------------CSS Malnouristed page--------------------------------------- */


.boxx1 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    display: flex; 
    width: 450px; 
    height: 400px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center; 

}

.boxx1 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}

.boxx2 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    display: flex; 
    width: 450px; 
    height: 350px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center; 

}

.boxx2 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}


.boxx3 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    
    width: 256px; 
    height: 280px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 

}

.boxx3 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}

.boxx3 h6{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', Helvetica;
    text-align: center;
}


.boxx4 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    
    width: 256px; 
    height: 280px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 

}

.boxx4 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}

.boxx4 h6{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', Helvetica;
    text-align: center;
}




.boxx5 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    
    width: 256px; 
    height: 280px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 

}

.boxx5 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}

.boxx5 h6{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', Helvetica;
    text-align: center;
}


.boxx6 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    
    width: 810px; 
    height: 350px; 
    gap: 10px; 
    padding: 13px 39px; 
    position: relative; 
    background-color: #ECECEC; 
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: column; 
    align-items: center; 

}

.boxx6 p{
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', Helvetica;
    font-weight: bold;
    text-align: center;
}

.info1 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 256px; 
    height: 100px;
    margin-left: 20px;
    gap: 10px; 
    padding: 13px 13px; 
    position: relative; 
    background-color: #508958; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center;
    
}

.info1 p {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', Helvetica;
    /* font-weight: bold; */
    text-align: center;
}
.info1 strong{
    font-weight: bold;
}




.info2 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 256px; 
    height: 100px;
    margin-left: 20px;
    gap: 10px; 
    padding: 13px 13px; 
    position: relative; 
    background-color: #63A46C; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center;

}

.info2 p {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Poppins', Helvetica;
    /* font-weight: bold; */
    text-align: center;
}

.info2 strong{
    font-weight: bold;
}
.info3 {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; 
    display: flex; 
    width: 256px; 
    height: 100px;
    margin-left: 20px;
    gap: 10px; 
    padding: 13px 13px; 
    position: relative; 
    background-color: #78C382; 
    border-radius: 10px;
    flex-direction: column; 
    align-items: center;
}

.info3 p {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Poppins', Helvetica;
    /* font-weight: bold; */
    text-align: center;
}

.info3 strong{
    font-weight: bold;
}
/* --------------------------End CSS Malnouristed page--------------------------------------- */


.boxx3 img {
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px; 
    height: auto; 
}

.boxx4 img {
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px; 
    height: auto; 
}

.boxx5 img {
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; 
    height: auto; 
}



